/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@font-face {
    font-family: "Quick Kiss";
    src: url("../fonts/Quick Kiss Personal Use.ttf");
}

/* VARS */

:root {
    --basic-white: #fff;
    --basic-black: #000;
    --accent-color: #FFC814;
    --dark: #1F3347;
    --dark-black: #181818;
    --dark-grey: #22283C;
    --grey: #70717B;
    --light-grey: #9DA1B4;
}

/* GLOBAL */

body {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    min-width: 1320px;
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-image: url("../img/bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    color: var(--basic-white);
    background-color: var(--basic-white);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page {
    height: 100%;
}

/* CONTAINER */

.container {
    width: 1320px;
    margin: 0 auto;
}

/* HEADER */

.page__body {

}
.page__header {
    margin-top: 17px;
}
.header {

}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.header__logo {
    
}
.header__nav {
    width: 854px;
}
.nav {

}
.nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__item {

}
.nav__link {
    color: var(--basic-white);
    margin: 0;
    padding: 0;
}
.button {
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    background: transparent;
}
.nav__button--login {
    color: var(--basic-white);
    cursor: pointer;
}
.nav__button--sign {
    width: 160px;
    height: 56px;
    background-color: var(--accent-color);
    color: var(--dark);
    border-radius: 4px;
    cursor: pointer;
}
.page__main {
    
}
.main-section__wrapper {
    display: flex;
    margin-top: 114px;
    margin-bottom: 174px;
}
.main-section {
    align-self: flex-start;
    width: 563px;
    height: 428px;
}
.main-section__title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
}
.main-section__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 37px;
}
.main-section__buttons {
    width: 340px;
    height: 56px;
    display: flex;
    justify-content: space-between;
}
.main-section__buttons--exploration {
    width: 160px;
    background-color: var(--accent-color);
    color: var(--dark-grey);
    border-radius: 4px;
    cursor: pointer;
}
.main-section__buttons--readmore {
    width: 160px;
    border-radius: 4px;
    background-color: #FFFDFD;
    color: var(--dark-black);
    cursor: pointer;
}

/* BOOKING */

.main__booking {
    position: relative;
    margin-bottom: 96px;
    z-index: 2;
}
.booking {

}
.booking__tabs {
    font-size: 0;
}
.booking__tabs input[type="radio"] {
    display: none;
}
.booking__label {
    box-sizing: border-box;
    width: 120px;
    height: 45px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: var(--basic-white);
    color: var(--dark);
    border-radius: 4px 4px 0 0;
    margin-right: 10px;
    padding: 10px 27px 10px 50px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    cursor: pointer;
    position: relative;
    top: 1px;
}
.booking__label--accent::before {
    content: "";
    position: absolute;
    background-image: url("../img/hotel-icon.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    top: 8px;
    left: 10px;
}
.booking__label--flight::before {
    content: "";
    position: absolute;
    background-image: url("../img/flight-icon.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    top: 8px;
    left: 10px;
}
.booking__label--car::before {
    content: "";
    position: absolute;
    background-image: url("../img/car-icon.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    top: 8px;
    left: 10px;
}
.booking__label--ship::before {
    content: "";
    position: absolute;
    background-image: url("../img/ship-icon.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    top: 8px;
    left: 10px;
}
.booking__label:not(:first-of-type) {
    border-left: none;
}
.booking__label--accent {
    background-color: var(--accent-color);
}
.booking__tabs input[type="radio"]:checked + label {
    border-bottom: 1px solid #fff;
}
.booking__container {
    display: none;
    font-size: 16px;
}
#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3,
#tab-btn-4:checked~#content-4 {
    display: block;
}

.booking__form {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 38px 30px;
    color: var(--basic-black);
    box-shadow: 0px 6px 24px #E4E2EE;
}
.form {
    background-color: var(--basic-white);
}
.form__input {
    margin: 0;
    padding: 20px 10px;
    border: none;
    box-sizing: border-box;
    width: 170px;
    height: 56px;
    background-color: var(--basic-white);
    box-shadow: 0px 6px 24px #E4E2EE;
    border-radius: 4px;
    color: var(--grey);
}
.form__label {
    color: var(--dark);
    margin-top: 38px;
}
.form__destination input,
.form__checkin input,
.form__checkout input,
.form__child input,
.form__adult input {
    margin-top: 7px;
}
.form__destination {
    width: 170px;
}
.form__checkin {
    width: 170px;
}
.form__checkout {
    width: 170px;
}
.form__child {
    width: 170px;
}
.form__adult {
    width: 170px;
}

.form__button {
    width: 160px;
    height: 56px;
    background-color: var(--accent-color);
    color: var(--dark-grey);
    border-radius: 4px;
    cursor: pointer;
}

/* ABOUT */

.main__about {
    position: relative;
    background-color: var(--basic-white);
}
.about {

}
.about__travel {
    position: absolute;
    top: -112px;
    left: -10px;
    font-weight: 600;
    font-size: 430px;
    line-height: 300px;
    color: rgba(244, 246, 250, 0.8);
    opacity: 0.8;
}
.about__content {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}
.about__photo-container {
    position: relative;
    width: 577px;
    height: 579px;
    margin-right: 82px;
}
.about__photo-container img {
    filter: drop-shadow(0px 6px 24px #E4E2EE);
    border-radius: 14px;
}
.about__1person {
    position: absolute;
    right: 1px;
    bottom: 1px;
}
.about__info-container {
    align-self: start;
    width: 525px;
    height: 569px;
    color: var(--basic-black);
}
.about__us {
    font-family: "Quick Kiss";
    font-size: 24px;
    line-height: 15px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: var(--accent-color);
    margin-bottom: 10px;
}
.about__title {
    color: var(--dark);
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}
.about__text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--light-grey);
    margin-bottom: 20px;
}
.about__list {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0 0 0 25px;
}
.about__list::before {
    content: "";
    position: absolute;
    background-image: url("../img/check-icon.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 14px;
    height: 99px;
    top: 2px;
    left: 0px;
}
.about__item {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: var(--light-grey);
}

.about__stats {
}

.stats {
    width: 494px;
    height: 80px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 32px;
    margin-bottom: 75px;

}
.stats__item {
    width: 104px;
}
.stats__number {
    font-size: 36px;
    line-height: 28px;
    font-weight: 700;
    color: var(--accent-color);
    margin-bottom: 7px;
}
.stats__description {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: var(--light-grey);
}

.about__button {
    width: 160px;
    height: 56px;
    background-color: var(--accent-color);
    color: var(--dark);
    font-size: 16px;
    line-height: 20px;
    font-weight: 900;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 131px;
}

.about__boards {
    position: absolute;
    right: -208px;
    bottom: 1px;
}